* {
  padding: 0;
  margin: 0;
}

.header {
  color: grey;
  background-color: rgb(48, 46, 46);
}

.container {
  display: grid;
  grid-template:
    "servers mutuals nav-bar" 50px
    "servers mutuals messages" 1fr
    "servers mutuals write" 50px/
    50px 200px 1fr;

  height: 100vh;
  width: 100vw;

  background-color: rgb(48, 46, 46);
}

.servers {
  grid-area: servers;
  background-color: rgb(48, 46, 46);
  border: 1px solid rgb(48, 46, 46);
  border-top-left-radius: 10px;
}

.servers img {
  display: grid;
  padding: 10px;
  width: 30px;
  border-radius: 500px;
}

.D-logo img {
  display: grid;
  padding: 10px;
  width: 30px;
  border-radius: 500px;
}

.mutuals {
  grid-area: mutuals;
  background-color: rgb(70, 65, 65);
  color: white;
}

.mutuals .li {
  list-style: none;
}

.nav-bar {
  grid-area: nav-bar;
  background-color: rgb(100, 92, 92);
  color: white;
  display: grid;
  align-items: center;
  padding: 5px;
  border-bottom-color: black;
}

.messages {
  grid-area: messages;
  background-color: rgb(100, 92, 92);
  color: white;
  display: grid;
  place-items: center;
  padding: 10px;
}

.write {
  grid-area: write;
  border: 2px solid lightgrey;
  border-radius: 10px;
  margin: 10px;
  background-color: rgb(100, 92, 92);
  color: white;
}

.mutuals .friend {
  align-items: center;
  padding: 10px;
}

.nav-bar .item {
  display: inline;
  text-align: center;
}
